title {
  font-family: 'Shrikhand', cursive;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/*logo*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.img_width {
  width: 75%;
}

/*localisation paris*/
.border_local {
  background-color: #eceaea;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border_city {
  border: none;
  background-color: #eceaea;
  padding-left: 15px;
}

/*carte grise*/
.back_gray {
  background-color: #f3f2f2;
  padding-top: 10px;
  padding-bottom: 40px;
}

h1 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

h2 {
  margin-left: 15px;
}

p.heading_flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

button.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 13px;
  border-radius: 25px;
  border: none;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79DA), to(#9556DC));
  background-image: linear-gradient(to right bottom, #ff79DA, #9556DC);
}

/*filtre*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  border: 0.8px solid #e6e5e5;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(233, 233, 233, 0.285);
  position: relative;
  margin: 25px;
}

.filter_color--primary {
  background-color: #f2eafb;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #9556DC;
  border-radius: 15px;
  position: absolute;
  left: -10px;
}

.icon_padding {
  color: gray;
  padding-left: 15px;
  padding-right: 15px;
}

.icon_padding .--color {
  color: #9556DC;
}

.filter_margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.primary {
  color: #9556DC;
}

/*restaurant*/
.resto_background {
  padding-bottom: 35px;
  background-color: #f3f2f2;
  width: 100%;
}

.title_margin {
  padding-top: 40px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 5px;
  margin-left: 10px;
}

.resto_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img_size {
  height: 150px;
}

.img_border {
  border-radius: 25px 25px 0 0;
}

.icon_width {
  font-size: 22px;
}

.icon_resto--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.city_marging {
  margin-top: 0;
  margin-left: 10px;
}

.flex_5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

/*footer*/
footer {
  color: white;
  background-color: black;
}

.back_black {
  background-color: black;
  margin: 0;
}

.foot_title {
  padding-top: 15px;
  font-family: 'Shrikhand', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.foot_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foot_margin {
  margin-left: 10px;
}

/*page restaurant 1*/
.resto_padding {
  padding: 15px;
}

.img_head {
  width: 320px;
}

.title_resto {
  display: block;
  font-family: 'Shrikhand', sans-serif;
}

.main_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.main_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_margin {
  margin-left: 15px;
}

.main_bold {
  font-weight: bold;
}

.main_card--margin {
  margin: 5px 10px;
}

.text_size {
  font-size: 13px;
}

.margin_right {
  margin-right: 20px;
}

.btn_resto--size {
  width: 48%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */