.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 13px;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  min-width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9556dc));
  background-image: linear-gradient(to right bottom, #ff79da, #9556dc);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

title {
  font-family: "Shrikhand", cursive;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

/*logo*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.img_width {
  width: 75%;
}

/*carte grise*/
.back_gray {
  background-color: #f3f2f2;
  padding-top: 10px;
  padding-bottom: 40px;
}

h1 {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

h2 {
  margin-left: 15px;
}

p.heading_flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.icon_color {
  position: relative;
}

.icon_width {
  font-size: 22px;
}

/*footer*/
footer {
  color: white;
  background-color: black;
}

.back_black {
  background-color: black;
  margin: 0;
}

.foot_title {
  padding-top: 15px;
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.foot_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foot_margin {
  margin-left: 10px;
}

.hands_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 10px #9556dc;
          box-shadow: 5px 5px 10px #9556dc;
}

.main_card--starters {
  -webkit-animation: apparition 3s ease-out;
          animation: apparition 3s ease-out;
}

.main_card--maincourse {
  -webkit-animation: apparition 3s ease-out;
          animation: apparition 3s ease-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.main_card--dessert {
  -webkit-animation: apparition 3s ease-out;
          animation: apparition 3s ease-out;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*loading_spinner*/
.loading_spinner {
  background-color: #ff93e1;
  width: 320px;
  height: 100vh;
  font-family: sans-serif;
  font-size: 40px;
  color: #9356dc;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
  -webkit-animation: load_page 3s linear forwards;
          animation: load_page 3s linear forwards;
}

@-webkit-keyframes load_page {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: flex;
  }
  99% {
    opacity: 1;
    display: -webkit-box;
    display: flex;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes load_page {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  99% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.transparent {
  display: none;
  position: absolute;
  left: 0;
  opacity: 0;
}

.fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9556dc));
  background-image: linear-gradient(to top, #ff79da, #9556dc);
}

/*page restaurant */
.back_gray--resto {
  background-color: #f3f3f3;
}

.resto_padding {
  padding: 15px;
}

.img_head {
  width: 320px;
}

.title_resto {
  display: block;
  font-family: "Shrikhand", sans-serif;
}

.positioned {
  position: relative;
  top: -30px;
  border-radius: 15px 15px 0 0;
}

.main_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}

.main_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_margin {
  margin-left: 15px;
}

.main_bold {
  font-weight: bold;
}

.main_card--margin {
  margin: 5px 10px;
}

.text_size {
  font-size: 13px;
}

.margin_right {
  margin-right: 20px;
}

.border_green {
  border-bottom: 3px solid #99e2d0;
  width: 12%;
}
/*# sourceMappingURL=style_menu.css.map */