.btn:hover{
    opacity: 0.8;
    box-shadow: 5px 5px 10px $primary;
}
.main_card--starters{
    animation: apparition 3s ease-out; 
  }
.main_card--maincourse{
    animation: apparition 6s ease-out;
  }
.main_card--dessert{
    animation: apparition 9s ease-out;
}
  @keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    50%{
      opacity: 0;
      transform: translateY(-15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
  }

/*loading_spinner*/
  .loading_spinner {
    background-color: $secondary;
    width: 320px;
    height: 100vh;
    font-family: sans-serif;
    font-size: 40px;
    color: $primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    animation: load_page 3s linear forwards;
  }
  @keyframes load_page {
    0%{
      opacity: 1;
      display: flex;
    }
    99%{
      opacity: 1;
      display: flex;
    }
    100%{
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
  .loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: $tertiary;
  animation: spin 2s linear infinite;
  
}

@keyframes spin {
  0% {
            transform: rotate(0deg);
  }
  100% {
            transform: rotate(360deg);
  }
}
// icone coeur survol*/

.heart_animation--color{
  position: absolute;
  left:0;
  color:transparent;
  cursor: pointer;
  animation: heart 3s linear forwards;
}
.heart_animation--color:hover{
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   @include gradient;
   }
@keyframes heart{
  from{
    transform:scale(1) ;
  }
  to{
    transform: scale(1.2);
  }
}
/*animation click menu*/

