@import "./variables";
@import"./components";
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
title {
  font-family: "Shrikhand", cursive;
}

img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: black;
}
/*logo*/
.flex {
  display: flex;
  justify-content: space-around;
}
.center_arrow {
  display: flex;
  align-items: center;
}
.center_logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.img_width {
  width: 75%;
}
/*carte grise*/

.back_gray {
  background-color: rgb(243, 242, 242);
  padding-top: 10px;
  padding-bottom: 40px;
}
h1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
}
h2 {
  margin-left: 15px;
}
p.heading_flexcenter {
  display: flex;
  font-size: 14px;
  justify-content: center;
  text-align: center;
}
.icon_color{
  position: relative;
}
.icon_width {
  font-size: 22px;
}

/*footer*/
footer {
  color: white;
  background-color: black;
  padding-bottom: 15px;
}
.back_black {
  background-color: black;
}
.foot_title {
  padding-top: 15px;
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.foot_flex {
  display: flex;
  align-items: baseline;
}
.foot_margin {
  margin: 5px 10px;
}
.hands_size {
  display: flex;
  font-size: 12px;
}
.white{
  color: $white;
}

