title {
  font-family: 'Shrikhand', cursive;
}
body {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/*logo*/
.center_logo{
  display: flex;
  justify-content: center;
  padding: 15px;
}
/*localisation paris*/
.border_local{
  border: 0.8 solid ;
  background-color: rgb(236, 234, 234);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.border_city{
  border: none;
  background-color: rgb(236, 234, 234);
  padding-left: 15px;
  
}
/*carte grise*/

.back_gray{
  background-color: rgb(243, 242, 242);
  padding: 10px;
}
