@import "./common";
@import "./animation";

/*page restaurant */
.back_gray--resto {
  background-color: lighten($color: $gray, $amount: 45%);
}
.resto_padding {
  padding: 15px;
}
.img_head {
  width: 100%;
}
.title_resto {
  display: block;
  font-family: "Shrikhand", sans-serif;
}
.positioned {
  position: relative;
  top: -30px;
  border-radius: 15px 15px 0 0;
}

.main_card {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 94%;
  cursor: pointer;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
}
.main_flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.main_margin {
  margin-left: 15px;
}
.main_bold {
  font-weight: bold;
}
.main_card--margin {
  margin: 5px 10px;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.text_size {
  font-size: 13px;
}
.over_hide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.margin_right {
  margin-right: 20px;
}
.flex_block--hide {
  display: flex;
}

.block_hide {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary;
  border-radius: 0 15px 15px 0;
  margin-right: -51px;
}
.fa-circle-check {
  border-radius: 30px;
  color: $tertiary;
  background-color: white;
}
.border_green {
  border-bottom: 3px solid $tertiary;
  width: 12%;
}

