title {
  font-family: 'Shrikhand', cursive;
}
body {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
img{
  object-fit: cover;
}

/*logo*/
.center_logo{
  display: flex;
  justify-content: center;
  padding: 15px;
}
/*localisation paris*/
.border_local{
  background-color: rgb(236, 234, 234);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.border_city{
  border: none;
  background-color: rgb(236, 234, 234);
  padding-left: 15px;
  
}
/*carte grise*/

.back_gray{
  background-color: rgb(243, 242, 242);
  padding-top: 10px;
  padding-bottom: 40px;
}
h1{
  font-size: 24px;
  display: flex;
  justify-content: center;
}
p.heading_flexcenter{
  display: flex;
  font-size: 14px;
  justify-content: center;
}
$primary: #9556DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
button.btn{
  display: flex;
  margin: auto;
  padding:13px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: $primary;
}
/*filtre*/
.filter{
  display:flex;
  margin-bottom: 25px;
  border: 0.8px solid rgb(230, 229, 229);
  border-radius: 25px;
  align-items: center; 
  background-color: rgba(233, 233, 233, 0.285);
  
}
.circle{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: white;
    background-color: $primary;
    border-radius: 15px;
}
.icon_padding{
  color: gray;
  padding-left: 15px;
  padding-right: 15px;
  .--color{
    color: $primary;
  }
}
/*restaurant*/
.resto_background{
  padding-bottom: 60px;
  background-color: #f3f2f2;
  width: 100%;
}
.title_margin{
  padding-top: 40px;
}
.card{
  display:flex;
  width: 92%;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 15px;
}
.img_border{
  height: 25%;
  border-radius: 25px 25px 0 0;
}
/*footer*/

.back_black{
  background-color: black;
  margin: 0;
}
.foot_title{
  font-family: 'Shrikhand', sans-serif;
}
.logo_white{
  color: white;
}
.foot_flex{
  display: flex;
  align-items: baseline;
} 
footer{
  color:white;
}
