@import "./variables";
@import "./common";
@import"./animation";

/*localisation paris*/
.border_local {
  background-color: lighten($color: $gray, $amount: 40%);
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.border_city {
  border: none;
  background-color: lighten($color: $gray, $amount: 40%);
  padding-left: 15px;
}
/*carte grise*/

.back_gray {
  background-color: lighten($color: $gray, $amount: 45%);
  padding-top: 10px;
  padding-bottom: 40px;
}
/*filtre*/
.filter {
  display: flex;
  margin-bottom: 25px;
  border: 0.8px solid rgb(230, 229, 229);
  border-radius: 25px;
  align-items: center;
  background-color: lighten($color: $gray, $amount: 45%);
  position: relative;
  margin: 25px;
  &_color--primary {
    background-color: lighten($color: $primary, $amount: 35%);
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: $primary;
  border-radius: 15px;
  position: absolute;
  left: -10px;
}
.icon_padding {
  color: gray;
  padding-left: 15px;
  padding-right: 15px;
  .--color {
    color: $primary;
  }
}
.filter_margin {
  display: flex;
  margin: auto;
  align-items: baseline;
}
.primary {
  color: $primary;
}
/*restaurant*/
.resto_background {
  padding-bottom: 35px;
  background-color: lighten($color: $gray, $amount: 45%);
  width: 100%;
}
.title_margin {
  padding-top: 40px;
}
.card {
  display: flex;
  width: 92%;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;
}
h3 {
  margin-bottom: 5px;
  margin-left: 10px;
}
.resto_flex {
  display: flex;
  justify-content: space-between;
}
.img_size {
  height: 160px;
}
.img_border {
  border-radius: 15px 15px 0 0;
}
.back_green {
  background-color: $tertiary;
  width: 25%;
  position: absolute;
  right: 10px;
  top: 10px;
}
.green {
  display: flex;
  margin: 5px;
  font-size: small;
  justify-content: center;
  color: darken($color: $tertiary, $amount: 35%);
  font-weight: bold;
}

.icon_resto--center {
  display: flex;
  align-items: center;
  flex: 1;
}
.city_marging {
  margin-top: 0;
  margin-left: 10px;
}
.flex_5 {
  flex: 5;
}



